.hero-section {
    background-image: url('../../assets/solar.png'); /* Reference the image path directly in CSS */
    background-size: cover;
    background-position: center;
    height: 700px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white; /* Text color for contrast */
    padding: 50px;
    text-align: start;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    max-width: 800px;
}

.buttonfreeestimate2 {
    background-color: #008000;
    color: #fff;
    padding: 25px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 70px;
}

.buttonfreeestimate2 a {
    color: #fff;
    text-decoration: none;
}

.benefits-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.benefit-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    margin-right: 50px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.benefit-card:hover {
    transform: translateY(-5px);
}

.benefit-card svg {
    color: #4CAF50; /* Green color for icons */
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 16px;
    color: #333;
}
