header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FBFAD8;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .buttonfreeestimatesmall {
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonfreeestimatesmall a {
    color: #fff;
    text-decoration: none;
  }